@import "tailwindcss";
@import "tailwind-animations";

@theme {
    --color-primaryg: #31534a;
    --color-secondaryg: #5c8579;
    --color-drysage: #bfb881;
    --color-softblush: #e2cbd0;
    --color-lavenderblush: #eadcdc;
}
